h1 {
  font-size: 26px;
}
h1.title {
  font-size: 28px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 16px;
}
body {
  font-size: 16px;
}
img {
    display: block;
    margin: auto;
}
img-circle {
    border-radius: 50%;
}